.config/transmission-daemon/stats.json
.config/zsh/.zcompdump
.local/share/applications/mimeinfo.cache
.local/share/applications/wine-extension-chm.desktop
.local/share/applications/wine-extension-hlp.desktop
.local/share/applications/wine-extension-msp.desktop
.local/share/applications/wine-extension-vbs.desktop
.local/share/applications/wine/
.config/gtk-2.0/gtkfilechooser.ini
.config/transmission-daemon/dht.dat
.config/transmission-daemon/resume/
.config/transmission-daemon/torrents/
.config/nvim/.netrwhist
